{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

     <form method="POST" class="assessment-form">{% csrf_token %}
        <div class="container">
            <h4>Evaluation</h4>


            <div class="form-group">
                <label for="num_session">Session n°</label>
                <input type="text" class="form-control" id="num_session" value="{{ session.id }}">
                <label for="name_training">Formation</label>
                <input type="text" class="form-control" id="name_training" value="{{ session.training.name }}">
                <label for="date_of_begin">Date de début</label>
                <input type="text" class="form-control" id="date_of_begin" value="{{ session.date_of_begin }}">
                <label for="date_of_finish">Date de fin</label>
                <input type="text" class="form-control" id="date_of_finish" value="{{ session.date_of_finish }}">

            </div>





            <table class="table table-striped" id="table_assessment">
                  <thead>
                    <tr>
                      <th scope="col">N° étudiant</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Prénom</th>
                      <th scope="col">Date de naissance</th>
                      <th scope="col">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for assessment in assessments %}

                            <tr>
                                <td class="id_student">{{assessment.student.user.id}}</td>
                                <td class="last_name">{{assessment.student.user.last_name}}</td>
                                <td class="first_name">{{assessment.student.user.first_name}}</td>
                                <td class="birth_date">{{assessment.student.birth_date}}</td>
                                <td class="assessment">
                                    <input  type="number" class="assessment" value="{{assessment.assessment}}" min="0" max="100">
                                    <strong><span>/100</span></strong>

                                </td>

                            </tr>

                        {% endfor %}
                  </tbody>
                  <tfoot>

                  </tfoot>
            </table>
            <button type="submit" id="save_assessment" class="btn btn-success">Enregistrer notes</button>
        </div>
    </form>


{% endblock content %}

    {% block jquery %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
         <script src="{% static 'teacher/js/assessment.js' %}"></script>
    {% endblock jquery %}