{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

     <form method="POST" class="attendance-form">{% csrf_token %}
        <div class="container">
            <h4>Liste des pésences</h4>

            <div id="commentaires"></div>




            <div class="form-group">
                <label for="num_session">Session n°</label>
                <input type="text" class="form-control" id="num_session" value="{{ session.id }}">
                <label for="name_training">Formation</label>
                <input type="text" class="form-control" id="name_training" value="{{ session.training.name }}">
                <label for="date_of_begin">Date de début</label>
                <input type="text" class="form-control" id="date_of_begin" value="{{ session.date_of_begin }}">
                <label for="date_of_finish">Date de fin</label>
                <input type="text" class="form-control" id="date_of_finish" value="{{ session.date_of_finish }}">
                <label for="start_date">Date de présence:</label>
                <input type="date" id="start_date" name="trip-start"
                       value="2018-07-22" min="{{ session.date_of_begin }}" max="{{ session.date_of_finish }}">
            </div>





            <table class="table table-striped" id="table_attendance">
                  <thead>
                    <tr>
                      <th scope="col">N° étudiant</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Prénom</th>
                      <th scope="col">Date de naissance</th>
                      <th scope="col">Présence</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for registration in registrations %}

                            <tr>
                                <td>{{registration.student.user.id}}</td>
                                <td>{{registration.student.user.last_name}}</td>
                                <td>{{registration.student.user.first_name}}</td>
                                <td>{{registration.student.birth_date}}</td>
                                <td>
                                    <label class="attendance">
                                        <input id="check_attendance" type="checkbox">
                                        <span class="slider round"></span>
                                    </label>

                                </td>

                            </tr>

                        {% endfor %}
                  </tbody>
            </table>
            <button type="submit" id="save_attendance" class="btn btn-success">Enregistrer présences</button>
        </div>


    </form>


{% endblock content %}

    {% block jquery %}
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.6.0/jquery.json.min.js"></script>
         <script src="{% static 'teacher/js/attendance.js' %}"></script>
    {% endblock jquery %}


