{% extends 'base.html'%}
    {% block content %}
    <h4>Profil</h4>
        <div class="container">
            <div class="form-group">
                <label class="control label col-sm-2">Nom d'utilisateur :</label>
                <div class="col-sm-10">{{user.username}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Nom :</label>
                <div class="col-sm-10">{{user.last_name}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Prénom :</label>
                <div class="col-sm-10">{{user.first_name}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Rue :</label>
                <div class="col-sm-10">{{user.profile.street}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Numéro :</label>
                <div class="col-sm-10">{{user.profile.number}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Code Postal :</label>
                <div class="col-sm-10">{{user.profile.postal_code}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Localité :</label>
                <div class="col-sm-10">{{user.profile.locality}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Téléphone :</label>
                <div class="col-sm-10">{{user.profile.phone}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Lieu de naissance :</label>
                <div class="col-sm-10">{{user.profile.place_of_birth}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Date de naissance :</label>
                <div class="col-sm-10">{{user.profile.birth_date}}</div>
             </div>
            <div class="form-group">
                <label class="control label col-sm-2">Diplôme :</label>
                <div class="col-sm-10">{{user.profile.degree}}</div>
             </div>
        </div>

    {% endblock content%}