{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="my-5 container">
    <div  class="card">
        <div class="card-header"><strong>Inscription</strong></div>
        <div class="card-body">


            <form class="sign_up" action="{% url 'sign_up' %}" method="POST" >
                    {% csrf_token %}
                    <div class="row">


                        <div class="col-sm-12">

                            <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                       {{form.last_name.label_tag}}
                                       {{form.last_name}}

                                   </div>

                               </div>

                               <div class="col-md-6">
                                   <div class="form-group">
                                       {{form.first_name.label_tag}}
                                      {{form.first_name}}
                                   </div>

                               </div>
                            </div>

                            <div class="row">
                               <div class=" col-md-6">
                                   <div class="form-group">
                                    {{form.email.label_tag}}
                                    {{form.email}}
                                   </div>
                               </div>

                               <div class=" col-md-6">
                                   <div class="form-group">
                                    {{form.username.label_tag}}
                                    {{form.username}}
                                   </div>
                               </div>
                            </div>

                            <div class="row">
                               <div class="col-md-4">
                                   <div class="form-group">
                                       {{form.street.label_tag}}
                                      {{form.street}}
                                   </div>

                               </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        {{form.number.label_tag}}
                                        {{form.number}}
                                    </div>
                               </div>
                               <div class="col-md-3">
                                   <div class="form-group">
                                    {{form.postal_code.label_tag}}
                                    {{form.postal_code}}
                                   </div>
                               </div>

                               <div class="col-md-3">
                                   <div class="form-group">
                                    {{form.locality.label_tag}}
                                    {{form.locality}}
                                   </div>
                               </div>
                            </div>

                            <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                     {{form.place_of_birth.label_tag}}
                                     {{form.place_of_birth}}
                                   </div>
                               </div>

                               <div class="col-md-6">
                                   <div class="form-group">
                                    {{form.birth_date.label_tag}}
                                   {{form.birth_date}}
                                   </div>
                               </div>
                             </div>

                             <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    {{form.phone.label_tag}}
                                    {{form.phone}}
                                  </div>
                                </div>

                               <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.degree.label_tag}}
                                        {{form.degree}}

                                    </div>
                               </div>
                             </div>


                             <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.password1.label_tag}}
                                        {{form.password1}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{form.password2.label_tag}}
                                        {{form.password2}}
                                    </div>
                                </div>
                             </div>
                             <br>
                             <div class="form-group">
                                 <button type="submit" class="btn btn-primary btn-block"> S'inscrire  </button>
                             </div>

                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}