{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% include 'messages.html'%}
<div class=" my-4 container">
    <div class="row">
        <div class="col-sm-12"><h1>{{request.user.username}}</h1></div>

    </div>
    <br>


          <form method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-sm-3"><!--left col-->

               <!--   <div class="text-left">
                     <img src="{{request.user.profile.image_profile_thumbnail.url}}" alt="image{{user.first_name}}">

                  </div>-->


            </div>

            <div class="col-sm-9">
                <div class="row">
                   <div class="col-md-6">
                        {{form_user.last_name|as_crispy_field:"bootstrap"}}
                   </div>

                   <div class="col-md-6">
                        {{form_user.first_name|as_crispy_field:"bootstrap"}}
                   </div>
               </div>

               <div class="row">
                   <div class=" col-md-6">
                        {{form_user.email|as_crispy_field:"bootstrap"}}
                   </div>

                   <div class=" col-md-6">
                        {{form_user.username|as_crispy_field:"bootstrap"}}
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4">
                        {{form_profile.street|as_crispy_field:"bootstrap"}}
                   </div>
                    <div class="col-md-2">
                        {{form_profile.number|as_crispy_field:"bootstrap"}}
                   </div>
                   <div class="col-md-3">
                        {{form_profile.postal_code|as_crispy_field:"bootstrap"}}
                   </div>

                   <div class="col-md-3">
                        {{form_profile.locality|as_crispy_field:"bootstrap"}}
                   </div>
               </div>
                <div class="row">
                   <div class="col-md-6">
                         {{form_profile.place_of_birth|as_crispy_field:"bootstrap"}}
                   </div>

                   <div class="col-md-6">
                       {{form_profile.birth_date|as_crispy_field:"bootstrap"}}
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       {{form_profile.phone|as_crispy_field:"bootstrap"}}


                   </div>
                    <div class="col-md-6">
                       {{form_profile.degree|as_crispy_field:"bootstrap"}}
                   </div>
               </div>

                <input type="submit" class="btn btn-success" value="Editer profil">
            </div>
          </div>
          </form>

</div>
{% endblock content %}