{% extends 'base.html' %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static "home/css/home.css" %}">
    {% endblock head %}
    {% block images %}
        <div class="jumbotron">


        </div>

        <div class="row">
            <h4 class="text-center">Aperçu formation</h4>

            <div class="col-md-4">

                 <div class="card card-default" style="width: 18rem;">
                     <div class="card-header">Header</div>
                  <img class="card-img-top" src="{% static "home/img/taxi.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>


            <div class="col-md-4">
                 <div class="card card-default" style="width: 18rem;">
                     <div class="card-header">Header</div>
                  <img class="card-img-top" src="{% static "home/img/carreleur.jpg" %}" alt="image carreleur">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>

            <div class="col-md-4">

                 <div class="card card-default" style="width: 18rem;">
                     <div class="card-header">Header</div>
                  <img class="card-img-top" src="{% static "home/img/carreleur.jpg" %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>

        </div>

        <div class="row">
            <h4 class="text-center">Nos Formateurs</h4>

            <div class="col-sm-4">
                <h5>Formation taxi</h5>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>


            <div class="col-sm-4">
                <h5>Formation Carreleur</h5>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h5>Formation sécurité</h5>
                 <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>

        </div>

    {% endblock images %}

{% block content %}




{% endblock content %}
