<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Facture</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "billing/css/facture.css" %}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static "billing/images/logo.png" %}">
      </div>
      <h1>Facture {{invoice.id}}</h1>
      <div id="company" class="clearfix">
        <div>Centre de formation</div>
        <div>rue de la borne 33,<br />1080 Bruxelles</div>
        <div>(32) 485221951</div>
        <div><a href="mailto:company@example.com">adelicctfe@gmail.com</a></div>
      </div>
      <div id="project">
        <div><span>CLIENT</span>{{invoice.client.user.last_name}} {{invoice.client.user.first_name}}</div>
        <div><span>ADRESSE</span>{{invoice.client.street}} {{invoice.client.number}}</div>
        <div><span>EMAIL</span> <a>{{invoice.client.user.email}}</a></div>
        <div><span>DATE</span> {{invoice.date}}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="service">N° SESSION</th>
            <th class="service">N° RESERVATION</th>
            <th class="desc">FORMATION</th>
            <th>PRIX</th>
            <th>QUANTITE</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">{{invoice.session.id}}</td>
            <td class="service">{{invoice.booking.id}}</td>
            <td class="desc">{{invoice.session.training.name}}</td>
            <td class="unit">{{invoice.price}}</td>
            <td class="qty">1</td>
            <td class="total">{{invoice.price}} €</td>
          </tr>

          <tr>
            <td colspan="5" class="grand total">TOTAL TTC</td>
            <td class="grand total">{{invoice.price}} €</td>
          </tr>
        </tbody>
      </table>

    </main>
    <footer>

    </footer>
  </body>
</html>