{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Résumé des ventes </h1>
{% endblock %}

{% block result_list %}
{% load humanize %}

<!-- ... -->

<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Session</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total des ventes</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% du total des ventes</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.session}} </td>
        <td> {{ row.total | intcomma }} </td>
        <td> {{ row.total_sales | default:0 | intcomma }} € </td>
        <td>
          <strong>
            {{ row.total_sales |
              default:0 |
              percentof:summary_total.total_sales }}
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<!-- ... -->


{% endblock %}

{% block pagination %}{% endblock %}