<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href=" {% url 'home:home' %}">Gestion formations</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home:home' %}">Home</a></li>
            <li><a href="{% url 'account:sign_up'%}">Inscription</a></li>
            <li><a href="{% url 'account:edit_profile'%}">Modifier Profil</a></li>
            <li><a href="{% url 'account:change_password'%}">Modifier Mot de passe</a></li>
            <li><a href="{% url 'account:my_profile'%}">Profil</a></li>
            <li><a href="{% url 'account:login' %}"> Connexion</a></li>
            <li><a href="{% url 'account:logout' %}"> Deconnexion</a>  </li>
        </ul>
    </div>
</nav>