



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home:home' %}">Formations en ligne</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home:home' %}">Accueil</a></li>
      <li><a href="#">Formations</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Etudiant<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'change_password'%}">Modifier mot de passe</a></li>
          <li><a href="{% url 'edit_profile'%}">Editer profil</a></li>
          <li><a href="{% url 'training:my_training' %}">Mes formations</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Formateur<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'change_password'%}">Modifier mot de passe</a></li>
          <li><a href="{% url 'edit_profile'%}">Editer profil</a></li>
          <li><a href="{% url 'teacher:courses_teacher' %}">Mes cours</a></li>
        </ul>
      </li>
      <li><a href="{% url 'logout' %}">Deconnexion</a>  </li>
    </ul>



    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'sign_up'%}"><span class="glyphicon glyphicon-user"></span>Inscription</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Connexion</a></li>
    </ul>
  </div>
</nav>