
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home:home' %}">Gestion formations</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home:home' %}">Accueil</a></li>
      <li><a href="{% url 'training:list_training' %}">Formations</a></li>
      {% if request.user.is_authenticated and request.user.profile.user_type == 1 %}
        <li><a href="{% url 'logout' %}">Deconnexion</a>  </li>
        <li><a href="{% url 'change_password'%}">Modifier Mot de passe</a></li>
        <li><a href="{% url 'edit_profile'%}">Profil</a></li>
        <li><a href="{% url 'training:my_training' %}">Mes formations</a></li>
      {% else %}
        <li><a href="{% url 'sign_up'%}">Inscription</a></li>
        <li><a href="{% url 'login' %}">Connexion</a></li>
      {% endif %}

    </ul>
  </div>
</nav>