{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-10">
            <h4>Liste des inscriptions aux formations</h4>
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Formations</th>
                      <th scope="col">Date de début</th>
                      <th scope="col">Date de fin</th>
                      <th scope="col">Date d'inscription</th>
                      <th scope="col">Prix</th>
                      <th scope="col">Statut</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for booking in booking_user  %}
                            <tr>
                                <form class="update_status" method="POST" action="">
                                    {% csrf_token %}
                                    <td>{{booking.session.training.name}}</td>
                                    <td>{{booking.session.date_of_begin}}</td>
                                    <td>{{booking.session.date_of_finish}}</td>
                                    <td>{{booking.date_of_registration}}</td>
                                    <td>{{booking.session.training.price}} €</td>
                                    <td>{{booking.get_status_display}}</td>
                                    <td><input type="submit" class="btn btn-danger" value="Annuler"></td>

                                </form>

                            </tr>
                         {% endfor%}
                  </tbody>
            </table>

        </div>


    </div>

</div>

{% endblock content %}