{% extends 'index.html' %}
{% block content %}
{% if messages %}

        {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </p>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </p>
                    </div>

                {% endif %}
        {% endfor %}

{% endif %}

 <h2 class=" my-4 text-center">Liste des formations</h2>

    <div class="my-4 container">

            {% for training_one in object_list %}

                <h5 class="my-4"> {{ training_one.category.name }} </h5>

                <div class="list-group" style="max-width: 400px;">
                    {% for training in object_list %}
                        {% if training_one.category == training.category %}
                             <a href="{% url 'training:detail_training' id=training.pk %}" class="list-group-item">{{ training }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endfor%}


    </div>





{% endblock content %}