{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
    <h4>{{training.name}}</h4>

    <h5> <span>Description</span></h5>
        <p>{{training.description}}</p>
    <h5> <span>Prix</span></h5>
        <p>{{training.price}} €</p>
    <h5> <span>Heures</span></h5>
        <p>{{training.number_hours}}</p>
    <h5><span>Catégorie</span></h5>
        <p>{{training.category}}</p>
    <h5> <span>Formateur</span></h5>
        <p>{{training.teacher}}</p>

    <h5> <span>Sessions disponibles</span></h5>
        <form class="choice_session" method="POST" action="">
            {% csrf_token %}
            {{form_session|crispy}}
            <input type="submit" class="btn btn-success" value="S'inscrire">
        </form>



</div>




{% endblock content %}